
<ion-header>

  <ion-navbar>
    <ion-title>수납조회</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <button ion-button default color="danger" block (click)="openModal()">팝업 테스트</button>
        </ion-item>
        <ion-item style="text-align : center">
          <h1>
            <span (click)="yearSearch(year.innerHTML, 'B')"><<</span> 
            <span #year [innerHTML]="searchYear"></span>년
            <span (click)="yearSearch(year.innerHTML, 'A')">>></span>
          </h1>
        </ion-item>
        <ion-item style="text-align : center">
            <button default ion-button #edu color=""      (click)="clickSeachPay('edu', edu, etc)">교육비</button>
            <button default ion-button #etc color="light" (click)="clickSeachPay('etc', edu, etc)">기타</button>
        </ion-item>
        <ion-item style="padding-left : 0px" *ngFor="let itemData of items; let i = index">
            <div item-start>
              <h2>{{ itemData.tms_pay_type }}</h2>
            </div>
            <h2>{{ parseTitle(itemData.tms_account_title) }}</h2>
            <p>{{ parseDate(itemData.tms_account_date) }} </p>
            <div item-end>
              <h2>{{ itemData.tms_t_name }}</h2>
              <p>{{ comma(itemData.tms_pay_fee) }}원</p>
            </div>
        </ion-item>
  </ion-list>


<!-- 
  <ion-list>
      <ion-item-divider></ion-item-divider>
      <ion-item-sliding *ngFor="let itemData of items; let i = index">
          <ion-item class="padding-left-0">
              <h2 item-start>무통장</h2>
              <h2>{{ i + 1 }}. {{ itemData.tms_code }}. {{ itemData.tel }}</h2>
              <h2 item-end>View</h2>
          </ion-item>
      </ion-item-sliding>
  </ion-list> -->

</ion-content>
